<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.rpish.mapper.StudentIdCardMapper">
    <select id="findStudentIdCardById" parameterType="Integer" resultType="tech.rpish.po.StudentIdCard">
        select * from studentIdCard where id=#{id}
    </select>
</mapper>